// color

$green-color: #2CEB45;
$blue-color: #3C96FF;

// font-size

$h1-font-size: 128px;
$h2-font-size: 88px;
$base-font-size: 40px;
$small-font-size: 32px;

// line-height

$h1-line-height: 128px;
$h2-line-height: 88px;
$base-line-height: 48px;
$small-line-height: 38px;

// z-index

$z-index-header: 5;
$z-index-burger: 4;